.container {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-style: 24px;
    padding: 25px;
}

.parralex {
    background: url('images/image1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}